{% extends 'base.html' %}

{% block page_heading %} {{recipe}} {% endblock %}

{% block content %}
        <h1>{{recipe}}</h1>
        <h3>Author: {{recipe.author}}</h3>
        {% for image in recipe.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endfor %}
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ingredient.quantity}}
                    {{ingredient.ingredient.name}}</li>
                <br>
            {% endfor %}
        </ul>
        <h3><a href="{% url 'ledger:recipe_image_upload' pk=recipe.pk %}">Add Image</a></h3>
{% endblock %}